<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <link rel="SHORTCUT ICON" href='@Url.Content("~/favicon.ico")'/>
  </head>
  <body ng-app="QueensEight">
    <div class="main_content">
      <div class="header"></div>
      @RenderBody()
      <div class="footer-push"></div>
    </div>
    <div class="footer" >
      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="logo">
              <img src="~/Content/images/Arana.png"/>
            </div> 
          </div>
          <div class="span6 text-right">
            <p><a href="http://www.github.com/aranasoft/queenseight"><i class="icon-github-sign icon-light icon-large"></i> Queens Eight on GitHub</a>
              |
              <a href="http://www.aranasoft.com" title="Arana Software Web Site"><i class="icon-external-link-sign icon-light icon-large"></i></a>
              <a href="http://www.twitter.com/aranasoft" title="Arana Software on Twitter"><i class="icon-twitter-sign icon-light icon-large"></i></a>
              <a href="http://www.github.com/aranasoft"><i class="icon-github-sign icon-light icon-large"></i></a>
            </p>

            <div class="muted legal">Built by <a href="http://www.twitter.com/dburton">@@dburton</a>
              and <a href="http://www.twitter.com/jayharris">@@jayharris</a>.
                Queens Eight logo by <a href="http://projeqt.com/jlucas">John Lucas</a>.</div>
            <div class="muted legal">Copyright &copy; 2013 Arana Software. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
    @Scripts.Render("~/bundles/vendor")
    <script src="signalr/hubs" type="text/javascript"> </script>
    @Scripts.Render("~/bundles/queenseight")
    @RenderSection("scripts", false)
  </body>
</html>